.search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search_container h1 {
     margin-bottom: 1em;
}

.search_container p {
    margin-bottom: 30px;
}

.search_container a {
    margin: 0 auto 0 40%;
}

.noposts {
    text-align: center;
}
